<% @places.desc_order.each do |place| %>
  <div class="cool-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
  </div>

<% end %>

<div id="pag">
  <div class="digg_pagination">
    <%= will_paginate @places %>
  </div>
</div> 
