<div class="cool-box col-xs-10 col-xs-offset-1">
  <div class="pull-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
      <%= link_to 'Destroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  </br></br>
  <p><%= @place.description %></p>

</head>
<body>
  <div id="map"></div>
  <% if @place.latitude.present? && @place.longitude.present? %>

    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

    <div id="map"></div>
  <% end %>
</div>
